
h1{
  display: flex;
  justify-content: center;
  color: white;
}
 
body {
  background-color: black;
}


 .grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 30px;
  padding: 20px;
  border-radius: 10px;
}

.cell {
  font-family: sans-serif;
  width: 100px;
  height:100px;
  box-shadow: 2px 2px 2px 2px white;
  border: 2px solid white;
  line-height: 100px;
 
}

.reset-button {
  
  border: none;
  border-radius: 10px;
  width: 70px;
  height: 30px;

  
}

